p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.parrafoUnico {
    color: red;
}

.contenedor {
    border: solid 2px red;
    border-radius: 15px;
    padding: 20px;
    margin: 15px solid;
   

}

.subcontenedor {
    border: solid 2px blue;
}

.tituloDeBox {
    border: solid 2px green;
}
.subcontenedorParrafo {
    border: solid 2px yellow;
}