h1 {
    border: 2px solid blue;
    font-size: 30px;
    padding: 20px;
    font-style: italic;
}

h3 {
    border: 2px solid crimson;
    border-radius: 20px;
    padding: 5px;
}
ul {
    border-style: double;
    border-color: #39d353;
    border-width: 15px;
    font-size: 10px;
}
