body {
    font-family: sans-serif;
    background-color: lightgray;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartaPresentacion {
    width: 729px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.background-img {
    height: 350px;
    width: 100%;
    border-radius: 20px;
}

.foto {
    width: 312px;
    border: 8px solid white;
    border-radius: 50%;
    margin-top: -180px;
}

.nombre {
    font-size: 30px;
    font-weight: 700;
    color: #23003E;
    margin-top: 20px 0;
}

.descripcion {
    font-size: 12px;
    font-weight: 400;
    color: #7E7E7E;
    margin-bottom: 20px;
}

.btn {
    background-color: #6A14AD;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #460d73;
}