/* Navegador: P-> Aque*/
p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}

.parrafoUnico {
    color: red;
}

.contenedor {
    border: solid 2px red;
}

.subcontenedor {
    border: solid 2px blue;
}

.tituloDeBox {
    border: solid 2px green;
}
.subcontenedorParrafo {
    border: solid 2px yellow;
}