* {
    margin: 0;
    padding: 0;
}
h1 { 
    background-color:#f0f0f0;
    margin: 10px;
    border-style: double;
    padding: 35px 60px 50px 40px;
    text-align: center;
}
.contenedor-secciones {
    background-color:#f0f0f0;
    margin: 10px;
    border-style: double;
    padding: 20px 20px 20px 20px;
    word-spacing: 10px;
}
a {
    color: blue;
    font-weight: 900;
}
.seccion-principal {
    background-color:#f0f0f0;
    margin: 10px;
    border-style: double;
    padding: 40px 40px 40px 20px;
}
.barra-lateral {
    background-color:#f0f0f0; 
    margin: 10px;
    border-style: double;
    padding: 40px 40px 40px 20px;
}