body {
    background-color: aqua;
}

.container {
    background-color: blueviolet;
    border: solid 5px black;
    padding: 20px 40px 30px 20px;
}

h1 {
    color: #425229;
    background-color: chartreuse;
    padding: 50px;
    width: 50%;
}