.cuadro1{
    background-color: rgb(204, 201, 201);
    padding: 3%;
    
    

}
.cuadro2{
    
    background-color: rgb(204, 201, 201);
    padding: 1%;
    

}

.link1{ 
    text-align: right;
}
.link2 {
    text-align: center;
}
.cuadro3{
    padding: 2%;
    background-color: rgb(204, 201, 201);
    
    
}
.cuadro4{
    padding: 2%;

    background-color: rgb(204, 201, 201);

}
