body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; 
}

.profile {
    max-width: 100%;
    margin: 20px;
    background-color: #fff; 
    border: 1px solid #dddfe2; 
    border-radius: 8px;
    overflow: hidden;
}

.cover-photo {
   
    height: 150px; 
    background-color: #3b5998;
    background-image: url('Portada.jpg'); 
    background-size: cover; 
    background-position: center;
}


.profile-info {
    text-align: center;
    padding: 20px;
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile-info h1 {
    margin: 5px 0;
    color: #333; 
}

.profile-info p {
    color: #777;
    margin: 5px 0;
}

.profile-info ul {
    list-style-type: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 5px;
    color: #555; 
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.add-friend {
    background-color: #1877f2; 
    color: #fff;
}

.message {
    background-color: #42b72a; 
    color: #fff;
}

.buttons button:hover {
    background-color: #135293; 
}

.buttons button.message:hover {
    background-color: #2e8a1c; 
}

@media only screen and (min-width: 768px) {
    .profile {
        max-width: 600px;
        margin: 20px auto;
    }
}
